

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched
{

  border: 1px solid red;
}

  .validation{
    padding: 0.3em;
    color: brown;
  }


textarea
{
  resize: none;
}

h1
{
  color: orange;
  text-align: center;
  font-weight: bold;
}


button {
   margin-left:14em;
   padding: 00.5em;
   width:7em;
   font-weight: bold;

}

.loadingSpiner
{
    width: 10em;
    margin-top: 12em;
    margin-left: 20em;
}



#addDirectorBot
{
  background-color: orange;
  border: 1px solid black;
  width: 7em;
  margin-left: 0em;
  margin-top: 1em;
}

#addDirectorBot:hover
{
  background-color: rgb(251, 167, 11);
  color: rgb(153, 153, 153);
  border: 1px solid white;
}