
<div class="container-details" style="background-image:url({{movie.imageUrl}});">
  <div class="container">
    <div class="poster">
      <img
        src="{{movie.imageUrl}}"
        alt=""
      />
    </div>
    <div class="info">
      <div class="movie-title">{{ movie.title }}</div>
      <div class="movie-detail">
        <div class="set">
          <label>Release Date</label>
          <span>{{ movie.year | date }}</span>
        </div>
        <div class="set">
          <label>Running time</label>
          <span>1 Hr 47 Min</span>
        </div>
        <div class="set">
          <label>Genre</label>
          <span>{{movie.genre | genre}}</span>
        </div>
      </div>
      <div class="movie-description"> {{movie.description}}</div>
      <div class="movie-cast">
        <div class="header">Director</div>
        <div class="list">
          <div class="cast">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/6/67/Steven_Spielberg_by_Gage_Skidmore.jpg"
              alt=""
            />
            <label>Steven Spielberg</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>