
<div class="container-details" style="background-image:url({{movie.imageUrl}});">
  <div class="container">
    <div class="poster">
      <img
        src="{{movie.imageUrl}}"
        alt=""
      />
    </div>
    <div class="info">
      <div class="movie-title">{{ movie.title }}</div>
      <div class="movie-detail">
        <div class="set">
          <label>Release Date</label>
          <span>{{ movie.year | date }}</span>
        </div>
        <div class="set">
          <label>Running time</label>
          <span>1 Hr 47 Min</span>
        </div>
        <div class="set">
          <label>Genre:</label>
          <span *ngFor="let genre of movie.genres">{{genre.genreTitle + " "}}</span>
        </div>
      </div>
      <div class="movie-description"> {{movie.description}}</div>
      <div class="movie-cast">
        <div class="header">Director</div>
        <div class="list">
          <div class="cast" *ngFor="let director of movie.directors">
            <img src={{director.image_Url}}/>
            <label>{{director.firstName}} {{director.lastName}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>