<div class="container-movies">
  <div class="flip-card pointerMouse" *ngFor="let movie of movies">
    <a  [routerLink]="['details', movie.id]">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="{{ movie.imageUrl }}"
            alt="Avatar"
            style="width: 300px; height: 300px"
          />
        </div>
        <div class="flip-card-back" (click)="getMovieDetails(movie)">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.description }} Genre: {{ movie.genres[0].genreTitle }}</p>
          <p>{{ movie.year | date : "MMM d, y" }}</p>
        </div>
      </div>
    </a>
    <div class="container-position">
    <button type="button" class="btn btn-danger position" *ngIf="isAdmin" (click)="showDialog(movie.id)">Remove</button> 
    <button type="button" class="btn btn-primary position" *ngIf="isAdmin" (click)="showDialog(movie.id)">Edit</button> 
    </div>
  </div>
</div>
